<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^assets/js/rd-pagination\.min\.js$ assets/js/rd-pagination.js [L,QSA]
</IfModule>